body{
	font-family: 'Itim', cursive;
	margin:0;
	padding: 0;
	font-size: 16pt;
	background-color: #eee4ce;
	color: #5b1913;
	vertical-align: baseline;
}

h1{
	font-size: 30pt; 
	text-align: center;
	padding: 50px 0;
	line-height: 1.5;
}

h2{
	font-size: 24pt;
	line-height: 1;
	text-align: center;
}

p{
	font-size: 18pt;
	text-align:center;
}

.container{
	background-color: #5b1913;
	color:#eee4ce;
	margin: 0 auto;
	padding: 30px;
	line-height: 2;
	display:flex;
	align-items:center;
	flex-direction:column;

}

header{
	background-color: black;
	display:flex;
	flex-direction: column;
	align-items: center;

}


nav{
	background-color: black;
	padding: 25px 0;
	text-align: center;
}

.nav_links{
	padding-right: 20px;
	line-height: 2;
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
}

nav a{
	color: #eee4ce;
	font-weight: bold;
	text-decoration: none;
}

nav a.active-page{
	color: #1a1919;
	background-color: #c49e22;
	text-decoration: underline;	
}

nav a:hover, nav a:focus{
	color: #eee4ce;
	background-color: #5b1913;
	text-decoration: underline;	
}


footer{
	background-color:#5b1913;
	color: #eee4ce;
	padding: 30px;
	text-align: center;
}


.memories, .recipes{
	display:flex;
	background: #c6baa0;
	padding:10px;
	flex-basis: 300px;
	justify-content: center;
}

.memories-images, .recipes-images{
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	flex-direction: column;
	margin: 20px;
}

.recipes-images > img{
	border:10px;
	margin: 10px;
	width: 300px;
}
.memories-images >img {
	border:10px;
	margin: 10px;
	width: 300px;
	height: auto;
}

.gallery{
	display:grid;
	grid-template-columns: auto;
	grid-gap: 10px;
	padding: 10px
}

.gallery > img{
	object-fit:cover;
	width:30%;
	max-height: 300px;
}


.caption, .caption2{
	display: block;
}

.icons{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 50px;
	margin-left: auto;
	margin-right:auto;
	margin-top:20px;
	align-self:center;
	align-items:center;

}

.contact-form{
	background-color: #eee4ce;
	padding: 30px;
	border-radius: 5px;
	text-align: left;
	display:block;
}

label{
	font-size:100%;
	widows: 300px;
	margin: 10px 0;
	text-align: left;
}

input[type=text]{
	width:300px;
	padding: 5px;
	margin: 10px 0;
	box-sizing: border-box;
	font-family: 'Courier';
	font-size: 16px;
	vertical-align: top;
}

textarea{
	width:300px;
	padding: 5px;
	margin: 10px 0;
	box-sizing: border-box;
	font-family: 'Courier';
	font-size: 16px;
}

button[type=submit]{
	width:200px;
	padding: 10px;
	margin: 30px;
	font-family: 'Itim', bold;
	font-size: 20px;
	background-color: #5b1913;
	color:#ffffff;

}

.skip a{
  	background: #b8b8b8;
	padding: 3px;
	top: -10px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position:absolute;
	top:-40px;
}

.skip a:focus{
	top:0px;
}


@media screen and (min-width:550px) and (max-width:1023px){	
.nav_links{
	flex-direction:row;
}
	
nav li{
	padding:0px 10px;
}

.container2{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 300px 300px 300px 300px 300px;
	display:grid;
	margin:20px;
}

.memory1, .memory2, .memory3, .memory4, .memory5{
	grid-column: 1/span 1;
}

.memory1, .memory2, .memory3, .memory4, .memory5> img{
	width: 400px;
	height: 300px;
	overflow: hidden;
	border: 20px solid  #5b1913;
}

.memory1-text, .memory2-text, .memory3-text, .memory4-text, .memory5-text{
	grid-column: 2/span 2;
	text-align:left;
	border: 20px solid  #5b1913;
	padding: 20px;
	font-size: 12px;
}


.contact-form{
	background-color: #eee4ce;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

.caption, .caption2{
	visibility: hidden;
}
}

@media screen and (min-width: 1024px){    

header{
	flex-direction:row;
	justify-content:space-between;
}

.nav_links{
	flex-direction:row;
}

nav li{
	padding:0px 10px;
}

.memories-images, .recipes-images{
	display:inline-block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.recipes-images > img{
	border:30px;
	padding:30px;
	margin: 10px;
	width: 300px;
	height: 300px;
}

.memories-images >img {
	border:30px;
	padding:30px;
	margin: 10px;
	width: 300px;
	height: 300px;
	object-fit:cover;
}

.gallery {
	min-height:300px;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	justify-content:center;
}

.gallery2{
	margin-left:150px;
	margin-right:150px;
	margin-top: 20px;
}

.gallery2>img{
	object-fit:cover;
	width: 500px;
	height: 300px;
	padding: 5px;
	border-radius: 10px;
}

.gallery2>img:hover{
	opacity: 80%;
	border: 3px solid #5b1913;
}



.container2{
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 300px 300px 300px 300px 300px;
	display:grid;
	margin:30px;
}

.memory1, .memory2, .memory3, .memory4, .memory5{
	grid-column: 1/span 1;
}

.memory1, .memory2, .memory3, .memory4, .memory5> img{
	width: 400px;
	height: 300px;
	overflow: hidden;
	border: 20px solid  #5b1913;
}

.memory1-text, .memory2-text, .memory3-text, .memory4-text, .memory5-text{
	grid-column: 2/span 2;
	text-align:left;
	border: 20px solid  #5b1913;
	padding: 20px;
}

.contact-form{
	background-color: #eee4ce;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}


@media screen and (prefers-reduced-motion: reduce){
  html{
	  scroll-behavior: auto; /* Removes scroll animation */
  }
  
  .skip a{
    -webkit-transition: none; /* sets to default setting */
	transition: none;        /* sets to default setting */
  }